.post-detail {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color: rosybrown;

  .post-title {
    font-weight: bolder;
    font-style: oblique;
    color: rgb(37, 109, 105);
    font-size: large;
  }

  .post-user {
    font-style: italic;
  }

  .body-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .post-body {
      width: 50%;
      background-color: rgb(37, 109, 105);
      padding: 20px;
    }
    .comment-form {
      display: flex;
      flex-direction: column;
      margin: 5px;
      width: 40%;

      .submit-button {
        margin: 5px;
      }

      .form-input {
        padding: 7px;
      }
    }

    .comment-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
